@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

body{
  font-family: 'Source Sans Pro', sans-serif;
}

.sidebar{
  display: inline-block;
  vertical-align: top;
  height: 100vh;
  width: 20%;
  background-color: #43425D;
}

.sidebar > div {
  height: 70px;
  width: 100%;
  background-color: #0000001A;
  box-shadow: 0px 2px 3px #0000000D;
  text-align: left;
  font-weight: bold;
  font-size: 21px;
  letter-spacing: 3px;
  color: #FFFFFF;
}

.main{
  display: inline-block;
  vertical-align: top;
  width: 80%;
  background-color: #F0F0F7;
}

.main > div{
  margin: 50px;
}

header{
  height: 70px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 6px #0000000A;
}

.header-table > div{
  display: inline-block;
  vertical-align: top;
  width: 49%;
  text-align: left;
}

.header-table > div:last-child{
  text-align: right;
}

table{
  width: 100%;
}

th{
  background-color: #F5F6FA;
}